{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Phone:new{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}
